@model ChoCastle.Models.AspNetUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}


<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>會員資料</h3>
        <h5>會員編號：@Html.DisplayFor(model => model.MemberID)</h5>
        <div class="row mt">
            <!--  DATE PICKERS -->
            <div class="col-lg-12">
                <div class="form-panel">
                    <form class="form-horizontal style-form">
                        <div class="form-group">
                            @Html.DisplayFor(model => model.UserName)
                            <div class="col-md-3 col-xs-11">
                                會員帳號ID 
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.DisplayFor(model => model.ChineseName)
                            <div class="col-md-3 col-xs-11">
                                中文姓名
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.DisplayFor(model => model.Gender)
                            <div class="col-md-3 col-xs-11">
                                性別
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.DisplayFor(model => model.PostCode)
                            <div class="col-md-3 col-xs-11">
                                郵遞區號
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.DisplayFor(model => model.Address)
                            <div class="col-md-3 col-xs-11">
                                地址
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.DisplayFor(model => model.Mobile)
                            <div class="col-md-3 col-xs-11">
                                手機號碼
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.DisplayFor(model => model.LineID)
                            <div class="col-md-3 col-xs-11">
                                LineID
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.DisplayFor(model => model.Birthday)
                            <div class="col-md-3 col-xs-11">
                                生日
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.DisplayFor(model => model.Email)
                            <div class="col-md-3 col-xs-11">
                                Email帳號
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.DisplayFor(model => model.EmailConfirmed)
                            <div class="col-md-3 col-xs-11">
                                Email確認狀態
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.DisplayFor(model => model.PhoneNumber)
                            <div class="col-md-3 col-xs-11">
                                聯絡電話
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
                            <div class="col-md-3 col-xs-11">
                                聯絡電話確認
                            </div>
                        </div>
                        <div style="text-align:left">
                            @Html.ActionLink("返回列表", "Index")
                        </div>
                    </form>
                </div>
                <!-- /form-panel -->
            </div>
            <!-- /col-lg-12 -->
        </div>
    </section>
    <!-- /wrapper -->
</section>
<!-- /MAIN CONTENT -->
<!--main content end-->




@*原版本*@
<!--<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div id="fh5co-started" class="fh5co-section animate-box" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">

        <div class="row animate-box">
            <div>
                <h2 style="color:#B8860B">會員資料</h2>
                <h5 style="color:#B8860B">會員編號 ：@Html.DisplayFor(model => model.MemberID)</h5>
                <hr />
                <dl class="dl-horizontal">



                    <dt>
                        會員帳號ID
                    </dt>
                    <dt>
                        中文姓名
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dd>
                        @Html.DisplayFor(model => model.ChineseName)
                    </dd>

                    <dt>
                        性別
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        郵遞區號
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PostCode)
                    </dd>

                    <dt>
                        地址
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        手機號碼
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Mobile)
                    </dd>

                    <dt>
                        LineID
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LineID)
                    </dd>

                    <dt>
                        生日
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Birthday)

                    </dd>

                    <dt>
                        EMAIL帳號
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        Email確認狀態
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmailConfirmed)
                    </dd>

                    <dt>
                        連絡電話
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        聯絡電話確認
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumberConfirmed)
                    </dd>




                </dl>
            </div>
            <p>-->
@*@Html.ActionLink("編輯", "Edit", new { id = Model.Id }) |*@
<!--@Html.ActionLink("返回列表", "Index")
            </p>
        </div>
    </div>
</div>-->
