@model ChoCastle.Models.SetPasswordViewModel
@{
    ViewBag.Title = "建立密碼";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(/Template/images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-12 text-center fh5co-heading">
                <h1 style="color: #B8860B"><strong>密碼建立</strong></h1>
                <h4 style="color: #B8860B">
                    您沒有此網站的本機使用者名稱/密碼。新增本機
                    帳戶即可在沒有外部登入的情況下登入。
                </h4>
                <hr />
            </div>
            

            @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @*<h4  style="color:red">建立本機登入</h4>*@
               
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="text-align:center">
                        <input type="submit" value="設定密碼" class="btn btn-outline btn-primary" />
                    </div>
                </div>
            }
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>