@model IEnumerable<ChoCastle.Models.ShoppingDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(/Template/images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">

        <div class="row animate-box text-capitalize">
            <h2 style="color:#B8860B">購物車明細  </h2>
            @*
                MemberID =@Session["MemberID"]  CartID =@Session["CartID"]  isRestored =@Session["isRestored"]
            *@
            <table class="table">
                <tr>
                    <th>
                        商品名稱
                    </th>
                    <th>
                        單價
                    </th>
                    <th>
                        訂購數量
                    </th>
                    <th>
                        小計
                    </th>
                    <th>
                        功能
                    </th>
                </tr>

                @foreach (var item in Model.ToList())
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("ProductDescription", "Home", new { ProductID = item.ProductID })"> @Html.DisplayFor(modelItem => item.ProductName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subtotal)
                        </td>

                        <td>
                            @*
                                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                            *@
                            @Html.ActionLink("刪除", "Delete", new { ProductID = item.ProductID, CartID = item.CarID })
                        </td>
                    </tr>
                }

            </table>
            <div class="mydiv">
                <p style="text-align:left"><button type="button" class="btn btn-default">@Html.ActionLink("上一步:繼續購物", "ProductCategory", "Home")</button></p>
                <p style="text-align:right"><button type="button" class="btn btn-default"> @Html.ActionLink("下一步:選擇收貨方式", "ShoppingCartDetail") </button></p>
            </div>
            <style type="text/css">
                .mydiv{
                    display:flex;
                    flex-direction:row;
                    justify-content:space-between;
                }
            </style>
        </div>
    </div>
</div>

