@model IEnumerable<ChoCastle.Models.ShoppingDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(/Template/images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">

        <div class="row animate-box text-capitalize">
            <h2 style="color:#B8860B">購物車明細</h2>

            <p>
                [ @Html.ActionLink("繼續購物", "ProductCategory", "Home") ]
                [ @Html.ActionLink("選擇收貨方式", "ShoppingCartDetail") ]

            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderQuantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subtotal)
                    </th>
                    <th>
                        功能
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subtotal)
                        </td>

                        <td>
                            @*
                                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                            *@
                            @Html.ActionLink("刪除", "Delete", new { id = item.ProductID })
                        </td>
                    </tr>
                }

            </table>


        </div>
    </div>
</div>

