@model IEnumerable<ChoCastle.Models.ShoppingDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(/Template/images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">

        <div class="row animate-box text-capitalize">
            <h1 style="color:#B8860B"><strong>購物車明細  </strong></h1><hr />
            @*MemberID =@Session["MemberID"]  CartID =@Session["CartID"]  isRestored =@Session["isRestored"]*@

            <table border="0" cellspacing="0" id="shoppingcarinfo">
                <thead>
                    <tr>
                        <th class="text-center">商品名稱</th>
                        @*<th width="75px" height="42px"></th>*@

                        <th class="text-center">單價</th>
                        <th class="text-center">數量</th>
                        <th class="text-center">小計</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ToList())
                    {
                        <tr>
                            <td width="75px" height="90px" align="left" valign="middle">
                                <div>
                                    <a style="color: #B8860B; text-decoration:underline" href="@Url.Action("ProductDescription", "Home", new { ProductID = item.ProductID })"> @Html.DisplayFor(modelItem => item.ProductName)</a>
                                </div>
                                <div style="clear: both;"></div>
                            </td>
                            <td width="135px" height="90px" align="center" valign="middle">
                                $  @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td width="150px" height="90px" align="center" valign="middle">
                                <i class="minus iconfont icon-subtract"></i>
                                <i class="minus iconfont icon-jiahao"></i>
                                @Html.DisplayFor(modelItem => item.OrderQuantity)
                            </td>
                            <td width="230px" height="90px" align="center" valign="middle">
                                $  @Html.DisplayFor(modelItem => item.Subtotal)
                            </td>

                            <td width="115px" height="90px" align="center" valign="middle">
                                @*
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                                *@
                                <strong>@Html.ActionLink("刪除", "Delete", new { ProductID = item.ProductID, CartID = item.CarID })</strong>
                            </td>
                        </tr>
                    }

            </table>

            <br />
            <div class="mydiv">
                @*<button type="button" class="btn btn-primary btn-outline">@Html.ActionLink("←繼續購物", "ProductCategory", "Home", new { style = "color:#FFFFFF" })</button>*@
                <a style="color:#FFFFFF" href="@Url.Action("ProductCategory", "Home")"><button type="button" class="btn btn-primary btn-outline">←繼續購物</button></a>
                @*<button type="button" class="btn btn-primary btn-outline">@Html.ActionLink("選擇收貨方式→", "ShoppingCartDetail", "ShoppingCart", new { style = "color:#FFFFFF" })</button>*@
                <a style="color:#FFFFFF" href="@Url.Action("ShoppingCartDetail", "ShoppingCart")"><button type="button" class="btn btn-primary btn-outline">選擇收貨方式→</button></a>
            </div>

            <style type="text/css">

                .mydiv {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                #shoppingcarinfo thead {
                    background-color: #B8860B;
                }

                #shoppingcarinfo tr th {
                    font: 12px/1 "Microsoft JhengHei";
                    color: black;
                    width: 400px;
                    height: 42px;
                    /*text-align: center;*/
                    font-size: 20px;
                    font-weight: bold;
                }

                #shoppingcarinfo tr {
                    border: 1px solid #dcdcdc;
                }
                /*#shoppingcarinfo tr:hover {
                        background-color: #F0E68C;
                    }*/
            </style>
        </div>
    </div>
</div>