@model ChoCastle.Models.GroupShoppingCartViewModels


@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(/Template/images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">

        @if (@ViewBag.OrderID != null)
        {
            <div class="row animate-box text-capitalize">
                <h2 style="color:#B8860B">訂單完成</h2>

                親愛的 顧客 您好：<br />
                您的訂單已經完成，
                已收到您的訂購資訊
                @String.Format("(訂單編號： {0:D4}{1:D2}{2:D2}{3, 0:D4})", DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, @ViewBag.OrderID)
                ，感謝您訂購巧克力城堡的優質產品！<br />

                <p>
                    [ @Html.ActionLink("繼續", "Index", "Home") ]
                </p>
            </div>
        }
        else
        {
            <div class="row animate-box text-capitalize">
                <h2 style="color:#B8860B">訂單確認</h2>

                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.ShoppingCart.OrderName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ShoppingCart.OrderName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ShoppingCart.ShipName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ShoppingCart.ShipName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ShoppingCart.PhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ShoppingCart.PhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ShoppingCart.ShippingAddress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ShoppingCart.ShippingAddress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ShoppingCart.Delivery)
                    </dt>

                    <dd>

                        @ViewBag.DeliveryType

                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ShoppingCart.ShippingCost)
                    </dt>

                    <dd>
                        $ @Html.DisplayFor(model => model.ShoppingCart.ShippingCost)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ShoppingCart.TotalAmount)
                    </dt>

                    <dd>
                        $ @Html.DisplayFor(model => model.ShoppingCart.TotalAmount)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ShoppingCart.Payment)
                    </dt>

                    <dd>
                        @ViewBag.PaymentType
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ShoppingCart.RequiredDate)
                    </dt>

                    <dd>
                        @ViewBag.RrequiredDate
                    </dd>



                    <dt>
                        @Html.DisplayNameFor(model => model.ShoppingCart.CompanyNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ShoppingCart.CompanyNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ShoppingCart.InvoiceHeading)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ShoppingCart.InvoiceHeading)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ShoppingCart.InvoiceType)
                    </dt>

                    <dd>

                        @ViewBag.InvoiceType
                    </dd>

                    <dt>
                        @*@Html.DisplayNameFor(model => model.ShoppingDetail.ProductName)*@
                    </dt>

                    <dd>
                        @*@Html.DisplayFor(model => model.ShoppingDetail.ProductName)*@
                    </dd>

                </dl>

                <h2 style="color:#B8860B">商品明細</h2>

                @*<table class="table">*@
                <table border="0" cellspacing="0" id="shoppingcarinfo">
                    <thead>
                        <tr>
                            <th class="text-center">商品名稱</th>
                            <th class="text-center">單價</th>
                            <th class="text-center">訂購數量</th>
                            <th class="text-center">小計</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ShoppingDetails.ToList())
                        {
                            <tr>
                                <td width="75px" height="60px" align="left" valign="middle">
                                    <div>
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </div>
                                    <div style="clear: both;"></div>
                                </td>
                                <td width="135px" height="60px" align="center" valign="middle">
                                    $ @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td width="150px" height="60px" align="center" valign="middle">
                                    <i class="minus iconfont icon-subtract"></i>
                                    <i class="minus iconfont icon-jiahao"></i>
                                    @Html.DisplayFor(modelItem => item.OrderQuantity)
                                </td>
                                <td width="230px" height="60px" align="center" valign="middle">
                                    $  @Html.DisplayFor(modelItem => item.Subtotal)
                                </td>
                            </tr>

                        }
                </table>
                <table border="0" cellspacing="0" id="shoppingcarinfo">

                    <tr>
                        <th style="background-color: #DEB887" class="text-center"></th>
                        <th style="background-color: #DEB887" class="text-center"></th>
                        <th style="background-color: #DEB887">運費</th>
                        <th style="background-color: #DEB887" class="text-center"></th>

                    </tr>



                    <tr>
                        <td align="left">
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td align="right" valign="middle">
                            @Html.DisplayNameFor(model => model.ShoppingCart.ShippingCost)：
                        </td>
                        <td width="230px" height="40px" align="center" valign="middle">
                           $ @Html.DisplayFor(model => model.ShoppingCart.ShippingCost)
                        </td>
                    </tr>


                    <tr>
                        <th style="background-color: #DEB887 "></th>
                        <th style="background-color: #DEB887 "></th>
                        <th style="background-color: #DEB887 ">總計</th>
                        <th style="background-color: #DEB887 "></th>

                    </tr>


                    <tr>
                        <td align="left">
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td align="right" valign="middle" style="color: #DAA520 ;font-weight: bold">
                            本次消費總金額：
                        </td>
                        <td width="230px" height="40px" align="center" valign="middle" style="color: #DAA520 ;font-weight: bold">
                           $ @Html.DisplayFor(model => model.ShoppingCart.TotalAmount)
                        </td>
                    </tr>
                </table>





                <p>
                    @using (Html.BeginForm("OrderConfirmation", "ShoppingCart", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ShoppingCart.CarID)
                        <div class="col-md-12" style="text-align:center">
                            <input type="submit" class="btn btn-primary btn-outline btn-lg" value="送出">

                        </div>
                    }

                    @Html.ActionLink("回上一頁", "ShoppingCartDetail")
                </p>
            </div>
        }

        <style type="text/css">

            .mydiv {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            #shoppingcarinfo thead {
                background-color: #B8860B;
            }

            #shoppingcarinfo tr th {
                font: 12px/1 "Microsoft JhengHei";
                color: black;
                width: 400px;
                height: 42px;
                /*text-align: center;*/
                font-size: 20px;
                font-weight: bold;
            }

            #shoppingcarinfo tr {
                border: 1px solid #dcdcdc;
            }
            /*#shoppingcarinfo tr:hover {
                        background-color: #F0E68C;
                    }*/
        </style>


    </div>
</div>