@model List<ChoCastle.Controllers.HomeController.imgResult>

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(/template/images/castle.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="display-t js-fullheight">
                    <div class="display-tc js-fullheight animate-box" data-animate-effect="fadein">
                        <h1>The Best Chocolate</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="fh5co-slider" class="fh5co-section animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 animate-box">
                <div class="fh5co-heading">
                    <h2 style="font-family:'Microsoft JhengHei'">Our Best &amp; Unique Menu</h2>
                    <p>當年日本某太子妃舉行皇家世紀婚禮結束時，送給來賓的喜糖就是〝生巧克力〞，據說是瑞士的總理送的禮物，特殊的巧克力口感深受日本人的喜愛，從此生巧克力便在日本流行起來，日文中這個漢字(唸為nama)其實指的是「新鮮」。</p>
                </div>
            </div>

            <div class="col-md-6 col-md-push-1 animate-box">
                <aside id="fh5co-slider-wrwap">
                    <div class="flexslider">
                        <ul class="slides">
                            @if (Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                            <li style="background-image: url(@String.Format("/PhotoImages/{0}.jpeg", item.Image.file_id));">
                                <div class="overlay-gradient"></div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-0 col-md-pull-10 slider-text slider-text-bg">
                                            <div class="slider-text-inner">
                                                <div class="desc">
                                                    <h2>@item.Product.ProductName</h2>
                                                    <p>@item.Product.ProductDisc</p>
                                                    <p><a href="@Url.Action("ProductDescription","Home",new { ProductID = item.Product.ProductID })" class="btn btn-primary btn-outline">Learn More</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                                }
                            }
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(/Template/images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2 style="font-family:'Microsoft JhengHei'">Order</h2>
                <p>將喜歡的甜點加到購物車後，填寫結帳單及配送資訊，選擇線上刷卡/臨櫃轉帳/貨到付款/門市付款完成訂購，我們就會開始安排製作及出貨了。</p>
                <p><a href="@Url.Action("Index", "ShoppingCart")" class="btn btn-primary btn-outline">Order Now</a></p>
            </div>
        </div>
    </div>
</div>

<div>
    <a href="#" id="sun" target="_blank"></a>
</div>