@model  ChoCastle.Controllers.HomeController.imgResultDes
@{
    ViewBag.Title = "ProductDescription";
}

<br />
<br />
<br />
<br />
<br />
<br />

<script type="text/javascript">
    function buy() {
        alert('商品已加入購物車囉!!');
    }
</script>



<div class="form-panel">

    @using (Html.BeginForm("ProductDescription", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Product.ProductID)
        @Html.HiddenFor(model => model.Product.ProductName)
        @Html.HiddenFor(model => model.Product.SellingPrice)

        <div id="fh5co-featured-testimony" class="fh5co-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 style="font-family:'Microsoft JhengHei';color: #B8860B ;font-size:40px">@Model.Product.ProductName</h2>
                    </div>

                    <div class="col-md-5 animate-box img-to-responsive animate-box" data-animate-effect="fadeInLeft">
                        @if (Model.lst_Image.Count > 0)
                        {
                            @*<img src="@String.Format("/PhotoImages/{0}.jpeg", Model.lst_Image.Where(x => x.isMain == 1).FirstOrDefault().file_id)" alt="@Model.Product.ProductName">*@
                            <img src="@Url.Action("DownloadFile", "PhotoImage", new { fileId =  Model.lst_Image.Where(x => x.isMain == 1).FirstOrDefault().file_id })"   alt="@Model.Product.ProductName" />
                        }
                    </div>
                    <div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
                        <blockquote>
                            <p>@Model.Product.ProductDisc</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div id="fh5co-gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 fh5co-heading animate-box">
                        <h2 style="font-family: Microsoft JhengHei;">產品規格</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <p>@Model.Product.ProductSpec</p>
                            </div>
                        </div>
                        <hr />
                        <h2 style="font-family: Microsoft JhengHei; color: #B8860B">售價 &nbsp;&nbsp;NT @Model.Product.SellingPrice</h2>
                        <hr />
                    </div>
                    @if (Model.lst_Image.Count > 0)
                    {
                        foreach (var img in Model.lst_Image)
                        {
                <div class="col-md-6 col-sm-6 fh5co-gallery_item">
                    
                    @*<div class="fh5co-bg-img fh5co-gallery_big" style="background-image: url(@String.Format("/PhotoImages/{0}.jpeg", img.file_id)" alt="@img.ProductName" );" data-trigger="zoomerang"></div>*@
                    <div class="fh5co-bg-img fh5co-gallery_big" style="background-image: url(@Url.Action("DownloadFile", "PhotoImage", new { fileId = img.file_id })" alt="@img.ProductName" );" data-trigger="zoomerang"></div>
                </div>
                        }
                    }
                </div>
            </div>
            <div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(/Template/images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">

                            <div>
                                <div class="form-group quantity-box">
                                    <label class="control-label" style="font-family:'Microsoft JhengHei'">Order</label>
                                    <input class="form-control" name="OrderQty" value="1" min="1" max="20" type="number">

                                </div>
                                <button type="submit" class="btn btn-primary btn-outline">加入購物車</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>