@{
    ViewBag.Title = "ProductCake";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(/Template/images/choco/生巧克力7.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="display-t js-fullheight">
                    <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                        <h1>生巧克力</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-featured-menu" class="fh5co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fh5co-heading animate-box">
                <h2 style="font-family:'Microsoft JhengHei'">CAKE</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            堅持國外進口的上選原料，確保完美和諧的幸福美味；<br />
                            執著費時費工的製作過程，帶來無與倫比的輕柔口感。<br />
                            <br /><br />
                            蛋糕保存方式：<br />
                            未食用完畢請放冷藏，能夠再放置冷藏兩天。
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
                <div class="fh5co-item animate-box">
                    <a href="@Url.Action("ProductDescription", "Home")"><img src="~/Template/images/cake/法式生巧克力塔.jpg" class="img-responsive" alt=""></a>
                    <h3 style="color: #B8860B ">法式生巧克力塔</h3><br>                  
                </div>
                <div class="fh5co-item animate-box">
                    <a href="@Url.Action("ProductDescription", "Home")"><img src="~/Template/images/cake/巧克力松露蛋糕.jpg" class="img-responsive" alt=""></a>
                    <h3 style="color: #B8860B ">巧克力松露蛋糕</h3><br>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
                <div class="fh5co-item margin_top animate-box">
                    <a href="@Url.Action("ProductDescription", "Home")"><img src="~/Template/images/cake/巧克力蛋糕捲.jpg" class="img-responsive" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co"></a>
                    <h3 style="color: #B8860B ">巧克力蛋糕捲</h3><br>
                </div>
                <div class="fh5co-item animate-box">
                    <a href="@Url.Action("ProductDescription", "Home")"><img src="~/Template/images/cake/熔岩巧克力蛋糕.jpg" class="img-responsive" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co"></a>
                    <h3 style="color: #B8860B">熔岩巧克力蛋糕</h3><br>
                </div>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
                <div class="fh5co-item animate-box">
                    <a href="@Url.Action("ProductDescription", "Home")"><img src="~/Template/images/cake/生巧克力小蛋糕.jpg" class="img-responsive" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co"></a>
                    <h3 style="color: #B8860B">生巧克力小蛋糕</h3><br>
                </div>
                <div class="fh5co-item animate-box">
                    <a href="@Url.Action("ProductDescription", "Home")"><img src="~/Template/images/cake/莓麗動人巧克力蛋糕.jpg" class="img-responsive" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co"></a>
                    <h3 style="color: #B8860B">莓麗動人巧克力蛋糕</h3><br>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
                <div class="fh5co-item margin_top animate-box">
                    <a href="@Url.Action("ProductDescription", "Home")"><img src="~/Template/images/cake/法式巧克力千層.jpg" class="img-responsive" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co"></a>
                    <h3 style="color: #B8860B">法式巧克力千層</h3><br>
                </div>
                <div class="fh5co-item animate-box">
                    <a href="@Url.Action("ProductDescription", "Home")"><img src="~/Template/images/cake/生巧克力捲.jpg" class="img-responsive" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co"></a>
                    <h3 style="color: #B8860B ">生巧克力捲</h3><br>
                </div>
            </div>
        </div>
    </div>
</div>





