@model List<ChoCastle.Controllers.HomeController.imgResult>
@{
    ViewBag.Title = "ProductCake";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(@ViewBag.img);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="display-t js-fullheight">
                    <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                        <h1>@ViewBag.CategoryID</h1><br />
                        <h3 class="animate-box"><a href="#jump" style="color:white;">進一步了解 ></a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div id="fh5co-featured-menu" class="fh5co-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 fh5co-heading animate-box">
                <h2 style="font-family:'Microsoft JhengHei'" id="jump">巧克力城堡的堅持</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            堅持國外進口的上選原料，確保完美和諧的幸福美味；<br />
                            執著費時費工的製作過程，帶來無與倫比的輕柔口感。<br />
                            <br /><br />
                            保存方式：<br />
                            未食用完畢請放冷藏，能夠再放置冷藏兩天。
                        </p>
                    </div>
                </div>
            </div>


            @if (Model.Count > 0)
            {
                foreach (var product in Model)
                {
                    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
                        <div class="fh5co-item animate-box">
                            <a href="@Url.Action("ProductDescription", "Home", new { ProductID = product.Product.ProductID })">
                            @*<img src="@String.Format("/PhotoImages/{0}.jpeg", product.Image.file_id )" class="img-responsive" alt="@product.Product.ProductName">*@
                                <img src="@Url.Action("DownloadFile", "PhotoImage", new { fileId = product.Image.file_id })"  class="img-responsive" alt="@product.Product.ProductName"/>
                            </a>
                            <h3 style="color: #B8860B ">@product.Product.ProductName</h3><br>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap">
                    <div class="fh5co-item animate-box">
                        <h3 style="color: #B8860B ">目前尚無產品</h3><br>
                    </div>
                </div>
            }
        </div>
    </div>
</div>





