@model ChoCastle.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> 產品新增</h3>
        <div class="row mt">
            <!--  DATE PICKERS -->
            <div class="col-lg-12">
                <div class="form-panel">


                    @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {

                        @Model.AddedUserID
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryID, "商品分類", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control form-control-inline input-medium default-date-picker" })
                                @Html.ValidationMessageFor(model => model.VendorID, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductName, "商品名稱", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "text", value = "" } })
                                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductSpec, "產品規格", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.ProductSpec, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "text", value = "" } })
                                @Html.ValidationMessageFor(model => model.ProductSpec, "", new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductDisc, "產品描述", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.ProductDisc, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "text", value = "" } })
                                @Html.ValidationMessageFor(model => model.ProductDisc, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.isDisplay, "是否上架", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.RadioButtonFor(model => model.isDisplay, true) @Html.Label("上架")
                                @Html.RadioButtonFor(model => model.isDisplay, false) @Html.Label("下架")
                                @Html.ValidationMessageFor(model => model.isDisplay, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PurchasePrice, "進價", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.PurchasePrice, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "number", value = "0" } })
                                @Html.ValidationMessageFor(model => model.PurchasePrice, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.RetailPrice, "定價", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.RetailPrice, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "number", value = "0" } })
                                @Html.ValidationMessageFor(model => model.RetailPrice, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SellingPrice, "售價", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.SellingPrice, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "number", value = "0" } })
                                @Html.ValidationMessageFor(model => model.SellingPrice, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SalePrice, "特價", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.SalePrice, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "number", value = "0" } })
                                @Html.ValidationMessageFor(model => model.SalePrice, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.StockQty, "庫存數量", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.StockQty, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "number", value = "0" } })
                                @Html.ValidationMessageFor(model => model.StockQty, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.AvailableQty, "可賣數量", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.AvailableQty, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "number", value = "0" } })
                                @Html.ValidationMessageFor(model => model.AvailableQty, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.VendorID, "廠商編號", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DropDownList("VendorID", null, htmlAttributes: new { @class = "form-control form-control-inline input-medium default-date-picker" })
                                @Html.ValidationMessageFor(model => model.VendorID, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">產品照片</label>
                            <div class="col-md-4">
                                <input type="file" class="default" />
                            </div>
                        </div>
                        <div style="text-align:center">
                            <button type="submit" class="btn btn-warning">儲存</button>
                        </div>

                    }


                </div>
                <!-- /form-panel -->
            </div>
            <!-- /col-lg-12 -->
        </div>
    </section>
    <!-- /wrapper -->
</section>
<!-- /MAIN CONTENT -->
<!--main content end-->





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
