@model ChoCastle.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>產品刪除</h3>
        <div class="row mt">
            <!--  DATE PICKERS -->
            <div class="col-lg-12">
                <div class="form-panel">
                    <form action="#" class="form-horizontal style-form" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryID, "商品分類", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DisplayNameFor(model => model.ProductName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductName, "商品名稱", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DisplayFor(model => model.ProductName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductSpec, "產品規格", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DisplayNameFor(model => model.ProductSpec)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductDisc, "產品描述", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DisplayFor(model => model.ProductDisc)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.isDisplay, "是否上架", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DisplayNameFor(model => model.isDisplay)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PurchasePrice, "進價", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DisplayFor(model => model.PurchasePrice)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.RetailPrice, "定價", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DisplayNameFor(model => model.RetailPrice)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SellingPrice, "售價", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DisplayFor(model => model.SellingPrice)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SalePrice, "特價", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DisplayNameFor(model => model.SalePrice)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.StockQty, "庫存數量", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DisplayFor(model => model.StockQty)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.AvailableQty, "可賣數量", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DisplayNameFor(model => model.AvailableQty)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.VendorID, "廠商編號", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DisplayFor(model => model.VendorID)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">產品照片</label>                            
                        </div>
                        <div style="text-align:center">
                            <button type="submit" class="btn btn-warning">確定刪除</button>
                        </div>
                    </form>
                </div>
                <!-- /form-panel -->
            </div>
            <!-- /col-lg-12 -->
        </div>
    </section>
    <!-- /wrapper -->
</section>
<!-- /MAIN CONTENT -->
<!--main content end-->