@model ChoCastle.Controllers.ProductsController.ImgResult

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutBackEnd.cshtml";
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> 產品編輯</h3>
        <div class="row mt">
            <!--  DATE PICKERS -->
            <div class="col-lg-12">
                <div class="form-panel">
                    <form action="#" class="form-horizontal style-form" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Product.ProductID)                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product.CategoryID, "商品分類", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control form-control-inline input-medium default-date-picker" })
                                @Html.ValidationMessageFor(model => model.Product.VendorID, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product.ProductName, "商品名稱", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.Product.ProductName, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "text", value = "" } })
                                @Html.ValidationMessageFor(model => model.Product.ProductName, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product.ProductSpec, "產品規格", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.Product.ProductSpec, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "text", value = "" } })
                                @Html.ValidationMessageFor(model => model.Product.ProductSpec, "", new { @class = "help-block" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Product.ProductDisc, "產品描述", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.Product.ProductDisc, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "text", value = "" } })
                                @Html.ValidationMessageFor(model => model.Product.ProductDisc, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product.isDisplay, "是否上架", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.RadioButtonFor(model => model.Product.isDisplay, true) @Html.Label("上架")
                                @Html.RadioButtonFor(model => model.Product.isDisplay, false) @Html.Label("下架")
                                @Html.ValidationMessageFor(model => model.Product.isDisplay, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product.PurchasePrice, "進價", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.Product.PurchasePrice, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "number", value = "" } })
                                @Html.ValidationMessageFor(model => model.Product.PurchasePrice, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product.RetailPrice, "定價", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.Product.RetailPrice, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "number", value = "0" } })
                                @Html.ValidationMessageFor(model => model.Product.RetailPrice, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product.SellingPrice, "售價", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.Product.SellingPrice, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "number", value = "0" } })
                                @Html.ValidationMessageFor(model => model.Product.SellingPrice, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product.SalePrice, "特價", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.Product.SalePrice, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "number", value = "0" } })
                                @Html.ValidationMessageFor(model => model.Product.SalePrice, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product.StockQty, "庫存數量", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.Product.StockQty, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "number", value = "0" } })
                                @Html.ValidationMessageFor(model => model.Product.StockQty, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product.AvailableQty, "可賣數量", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.EditorFor(model => model.Product.AvailableQty, new { htmlAttributes = new { @class = "form-control form-control-inline input-medium default-date-picker", size = "16", type = "number", value = "0" } })
                                @Html.ValidationMessageFor(model => model.Product.AvailableQty, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Product.VendorID, "廠商編號", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3 col-xs-11">
                                @Html.DropDownList("VendorID", null, htmlAttributes: new { @class = "form-control form-control-inline input-medium default-date-picker" })
                                @Html.ValidationMessageFor(model => model.Product.VendorID, "", new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">產品照片</label>
                            <div class="col-md-9">
                                <input id="FileAttach" name="FileAttach" type="file" multiple="multiple" class="default" />
                                <br />
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">圖片名稱</th>
                                            <th style="text-align: center;">排序值</th>
                                            <th style="text-align: center;">預覽</th>
                                            <th style="text-align: center;">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.ProductImage.Count > 0)
                                        {
                                            foreach (var item in Model.ProductImage)
                                            {
                                                <tr>
                                                    <td style="text-align: center;">@item.file_name</td>
                                                    <td style="text-align: center;">@item.SortID</td>
                                                    @*<td style="text-align: center;"><img width="100px" height="100px" src="@String.Format("/PhotoImages/Main_{0}.jpeg", item.file_id)" /></td>*@
                                                    <td style="text-align: center;"><img width="100px" height="100px" src="@String.Format("/PhotoImages/{0}.jpeg", item.file_id)" /></td>
                                                    <td style="text-align: center;">
                                                        @if (item.isMain == 0)
                                                        {
                                                            <a class="btn btn-primary btn-xs" href="@Url.Action("SetMain", "PhotoImage", new { id = item.file_id, ProductId = item.ProductID })" onclick="javascript: if(!confirm('確定設定圖片:@item.file_name 為產品主圖嗎？')){return false;}"><i class="fa fa-pencil"></i>設為主圖</a>
                                                        }
                                                        <a class="btn btn-danger btn-xs" href="@Url.Action("Delete", "PhotoImage", new { id = item.file_id, ProductId = item.ProductID })" onclick="javascript: if(!confirm('確定要刪除圖片:@item.file_name 嗎？')){return false;}"><i class="fa fa-pencil"></i>刪除</a>
                                                    </td>

                                                </tr>
                                            }
                                        }



                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div style="text-align:center">
                            <button type="submit" class="btn btn-warning">儲存</button>
                        </div>
                    </form>
                </div>
                <!-- /form-panel -->
            </div>
            <!-- /col-lg-12 -->
        </div>
    </section>
    <!-- /wrapper -->
</section>
<!-- /MAIN CONTENT -->
<!--main content end-->



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
